<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Pokemon App</title>
</head>

<body>
    <h1 style="text-align: center;">Pokemon App</h1>
    <div id="app">
        <h2 style="text-align: center;">Get All etc (GET)</h2>
        <div class="container-fluid" style="text-align: left;">
            <button id="getAllButton" @click="getAllPokemons" class="btn btn-primary">See All Pokemons</button>
            <br>
            <br>
            <input v-model="nameToGetBy" placeholder="Search by Name" type="text" />
            <input v-model.number="amountToShow" placeholder="Amount" type="number" />
            <button @click="getWithFilters(nameToGetBy, amountToShow)" class="btn-sm btn-primary">Get with filters</button>
        </div>
        <br>
        <div class="container-fluid" style="font-size: large;">
            <h4>Pokemons:</h4>
            <table id="pokemonlist" v-if="pokemons.length" class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>PokeDex</th>
                        <th>Primary Type</th>
                        <th>Secondary Type</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="pokemon in pokemons">
                        <td>{{pokemon.id}}</td>
                        <td>{{pokemon.name}}</td>
                        <td>{{pokemon.pokeDex}}</td>
                        <td>{{pokemon.pType}}</td>
                        <td>{{pokemon.sType}}</td>
                        <td>{{pokemon.level}}</td>
                    </tr>
                </tbody>
            </table>
            <div v-else>No Pokemons</div>
        </div>
        <br>
        <div class="container-fluid">
            <h2>Get by ID (GET)</h2>
            <input v-model.number="idToGetBy" placeholder="id" type="number" />
            <button @click="getById(idToGetBy)" class="btn-sm btn-primary">Get by id</button>
            <div v-if="singlePokemon">
                Id: {{singlePokemon.id}} <br>
                Name: {{singlePokemon.name}} <br>
                PokeDex: {{singlePokemon.pokeDex}} <br>
                Primary Type: {{singlePokemon.pType}} <br>
                Secondary Type: {{singlePokemon.sType}} <br>
                Level: {{singlePokemon.level}} <br>
            </div>
            <div v-else>No such Pokemon</div>
        </div>
        <br>
        <div class="container-fluid">
            <h2>Delete (DELETE)</h2>
            <input v-model.number="deleteId" placeholder="id" type="number" />
            <button @click="deletePokemon(deleteId)" class="btn-sm btn-warning">Delete</button>
            <div>{{deleteMessage}}</div>
        </div>
        <br>
        <div class="container-fluid">
            <h2>Add (POST)</h2>
            <input v-model="addData.name" placeholder="name" type="text" />
            <input v-model.number="addData.pokeDex" placeholder="pokeDex" type="number" />
            <input v-model="addData.pType" placeholder="primary type" type="text" />
            <input v-model="addData.sType" placeholder="secondary type" type="text" />
            <input v-model.number="addData.level" placeholder="level" type="number" />
            <button @click="addPokemon()" class="btn-sm btn-success">Add</button>
            <div>{{addMessage}}</div>
    
        </div>
        <br>
        <div class="container-fluid">
            <h2>Update (PUT)</h2>
            <input v-model.number="updateData.id" placeholder="id" type="number" />
            <input v-model="updateData.name" placeholder="name" type="text" />
            <input v-model.number="updateData.pokeDex" placeholder="pokeDex" type="number" />
            <input v-model="updateData.pType" placeholder="primary type" type="text" />
            <input v-model="updateData.sType" placeholder="secondary type" type="text" />
            <input v-model.number="updateData.level" placeholder="level" type="number" />
            <button @click="updatePokemon()" class="btn-sm btn-success">Update</button>
            <div>{{updateMessage}}</div>
        </div>
        </div>
    </div>
    <script src="js/pokemonWebApp.js"></script>
</body>